.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userImages {
  border-radius: 20%;
  border-color: aquamarine;
}
.radio {
  padding: 1%;
}
.option {
  border-color: blueviolet;
}
/* .purple {
  .checkbox-material {
    .check {
      color: $checked-colour;
    }
    &:before{
      background-color: $checked-colour;
    }
  } */


.homeGroupItem:hover {
  font-style: italic
}